@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
body{
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}#textbox{
    margin-top: 2.5%;
    width: 80vw;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}span{
    margin: 0;
    width: auto;
    color: white;
    font-size: 30px;
    font-family: Cinzel;
    opacity: 0.6;
}main{
    width: 80vw;
    height: 50vh;
}div{
    box-sizing: border-box;
}.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 33%;
    height: 100%;
    opacity: 0.6;
    border: 5px solid white;
    transition: width 0.5s;
}.box > img{
    max-width: 325px;
    min-width: 300px;
    margin: 0px;
    width: 100%;
    height: auto;
}.red{
    background-color: rgb(205, 50, 50);
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;

    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
}.blue{
    background-color: rgb(50, 50, 205);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
}.green{
    background-color: rgb(50, 205, 50);
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}