.container{
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 1%;
    width: 10%;
    height: 15%;
    border: white 3px solid;
    border-radius: 20%;
    background-color: lightgrey;
    opacity: 60%;
}#innerCanvas{
    display: grid;
    margin: 3px;
    width: 88%;
    height: 88%;
    box-sizing: border-box;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(7,1fr);
    grid-template-areas:
    "w y c g p r b"
    "w y c g p r b"
    "w y c g p r b"
    "w y c g p r b"
    "w y c g p r b"
    "bl bl bl bl bl bl bl";
}#innerCanvas > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}#innerCanvas > h2{
    /* font-size: 5px;
    writing-mode: vertical-rl;
    text-orientation: upright; */
}#innerCanvas > .w{
    grid-area: w;
    background-color: white;
    border-top-left-radius: 40%;
    /* border-bottom-left-radius: 40%; */
}#innerCanvas > .y{
    grid-area: y;
    background-color: yellow;
}#innerCanvas > .c{
    grid-area: c;
    background-color: cyan;
}#innerCanvas > .g{
    grid-area: g;
    background-color: rgb(0, 255, 0);
}#innerCanvas > .p{
    grid-area: p;
    background-color: hotpink;
}#innerCanvas > .r{
    grid-area: r;
    background-color: red;
}#innerCanvas > .b{
    grid-area: b;
    background-color: blue;
    /* border-bottom-right-radius: 40%; */
    border-top-right-radius: 40%;
}#innerCanvas > .bl{
    grid-area: bl;
    background-color: black;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.flexCol{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outerCanvas{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 80%;
}#outerCanvas > h1{
    text-align: center;
    font-size: 80%;
}

.container > audio{
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 20%;
}